<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href='/stylesheets/faq_style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">

    <div class="container">

        <div class="navbar-header">
            <a href="/" class="navbar-brand white title navbar-text" id="app-name">
                <img alt="Brand" src="../images/logo.jpg" width="75" height="75" id="logo" />
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        </div>
        </div>



    <div class="container" id="faq-container">

        <div class="col-md-2"></div>
        <div class="col-md-7">

            <h2>Frequently Asked Questions</h2>
            <br />
                <h4>
                    <ol>
                        <li>
                            <h4>What are the key components of diabetes care and control prior to conception?</h4>
                            <h5>
                                Here is a list of some of the most important things for diabetes care and control prior to conception:
                                <ul>
                                    <li>
                                        <h5>
                                            Tight blood sugar control
                                        </h5>
                                    </li>
                                    <li>
                                        <h5>
                                            Proficient diabetes self-care with frequent blood glucose monitoring
                                        </h5>
                                    </li>
                                    <li>
                                        <h5>
                                            Optimizing pre-existing complications (eye exam, blood pressure control, normalization of thyroid levels if on thyroid medication, checking thyroid level within 6-12 months prior to conception if not on thyroid medication. Ideally thyroid levels should be 2.5 or below before conception)
                                        </h5>
                                    </li>
                                    <li>
                                        <h5>
                                            Discussing with your health care provider to get a referral to high-risk OB practice
                                        </h5>
                                    </li>

                                    <li>
                                        <h5>
                                            Reviewing current medications and discontinuing the ones which are contraindicated during pregnancy and switching to the medications which are safe to be used during the pregnancy.
                                        </h5>
                                    </li>
                                </ul>
                            </h5>
                        </li>
                        <hr />

                        <li>
                            <h4>Where should my A1C be before I get pregnant and throughout each trimester of pregnancy?</h4>
                            <h5>
                                Allow a minimum of 6 months to achieve optimal glucose control before trying to conceive. There is no single recommendation for hemoglobin A1C level to be before the conception. American Diabetes Association recommends an A1C level below 7%, Endocrine Society – below 6.5% but aiming for a level as close to normal as possible without causing significant and frequent hypoglycemia. Therefore, A1C under 6.5% is a reasonable target for pre-conception.
                            </h5>
                        </li>
                        <hr />


                        <li>
                            <h4>
                                How can I expect my insulin requirements to change during the pregnancy?
                            </h4>
                            <h5>
                                Insulin requirements generally increase by 9-12% (this varies by different studies, and can vary per the individual) during the first 9 weeks of gestation, followed by 10-14% decrease between week 9 and 16, then steady increase from 70%  to over 90% of insulin requirements comparing to pre-pregnancy dose till about 37th week of gestation.
                            </h5>
                        </li>
                        <br />
                    </ol>

                    </h4>


            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

    <footer>
        <div class="container" id="footer">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 footer-setting center">

                    <p class="footer-copyright white">© 2015 SugarMommas</p>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </footer>


</body>
</html>