<!DOCTYPE html>
<html ng-app="indexPage">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Henny+Penny' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="../javascripts/indexController.js"></script>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Josefin Slab">


  </head>
  <body data-spy="scroll" data-target=".navbar-collapse">
    <header class="nav-down">
    <div class="navbar navbar-inverse navbar-fixed-top">

      <div class="container">

        <div class="navbar-header">
          <a href="/" class="navbar-brand white title navbar-text" id="app-name">
            <img alt="Brand" src="../images/logo.jpg" width="125" height="125" id="logo" />
          </a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
          <div class="collapse navbar-collapse" id="menu">


            <a href="/register"><button class="btn btn-warning navbar-right white menu-list" id="login-button">LOG IN</button></a>

            <ul class="nav navbar-nav navbar-right">
              <li class="navbar-right menu-list"><a href="#contactUs" class="blue">CONTACT US</a></li>
              <li class="navbar-right menu-list"><a href="#stories" class="blue">OUR STORIES</a></li>
              <li class="navbar-right menu-list"><a href="#about" class="blue">ABOUT</a></li>
              <li class="active navbar-right menu-list"><a href="#Home" class="blue">HOME</a></li>
            </ul>

          </div>


        </div>
    </div>
      </header>
    <main>
    <div class="container" id="Home">
      <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8" id="main-heading">
        <h1 class="center" id="main-heading-text">CONNECT AND SHARE WITH PEOPLE WHO UNDERSTAND YOU BETTER.</h1>
      </div>
      <div class="col-md-2"></div>
    </div>


      <!--<div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

          <form class="form-group" id="contact-form">
            <div class="input-group">
            <input type="text" id="address" class="form-control" placeholder="Enter your street-address/zipcode" aria-describedby="basic-addon1"/>
              <span class="input-group-addon glyphicon glyphicon-search" id="basic-addon1"></span>

            </div>
          </form>
        </div>
        <div class="col-md-3">

        </div>
      </div>-->
      </div>

    <div class="video-container" id="about">
      <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
          <h1 id="video-caption">Join the hundreds of <font class="green">Type-1 diabetic mothers</font>, who understand what you're going through.</h1>
            </div>
          <div class="col-md-2"></div>
        </div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <iframe width="500" height="450" id="video"
                    src="https://www.youtube.com/embed/pzN4WGPC4kc" frameborder="0" allowfullscreen></iframe>
            </iframe>
          </div>
          <div class="col-md-5">
            <h2 id="changeText">CONNECT</h2><br />
            <ul id="about-list">
              <li><u>Connect</u> with someone who understands.</li><br /><br />
              <li><u>Learn</u> more from others and handle things better.</li><br /><br />
              <li><u>Share</u> your experiences with other fighters and supporters.</li>
            </ul>
          </div>
          <div class="col-md-1"></div>
        </div>

        </div>

      <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
          <a href="#Home" class="back-to-top">Back to Top</a>
        </div>
      </div>

      </div>

    <div class="stories-container" id="stories">
      <div class="container">

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">

            <h1 class="member-stories-text">These members want to share their <font class="green" font-weight="bold">EXPERIENCES</font> with you.</h1>
            <a href="/stories"><h3 class="member-stories-text"><u>Check out their stories</u></h3></a>
          </div>
          <div class="col-md-1"></div>
        </div>



        <div id="outer">
          <div id="inner">
            <div id="carousel-fc" class="carousel">
              <img src="../images/Sarah_story.jpg" width="400" height="300" />
              <img src="../images/Michelle_story.jpg" width="400" height="300" />
              <img src="../images/Melody_story.jpg" width="400" height="300" />
              <img src="../images/Stephanie_story.jpg" width="400" height="300" />
              <img src="../images/Kathy_story.jpg" width="400" height="300" />
              <img src="../images/Noor_story.jpg" width="400" height="300" />
            </div>
            <div id="carousel-zw" class="carousel">
              <img src="../images/Sarah_story.jpg" width="400" height="300" />
              <img src="../images/Michelle_story.jpg" width="400" height="300" />
              <img src="../images/Melody_story.jpg" width="400" height="300" />
              <img src="../images/Stephanie_story.jpg" width="400" height="300" />
              <img src="../images/Kathy_story.jpg" width="400" height="300" />
              <img src="../images/Noor_story.jpg" width="400" height="300" />
            </div>
            <div id="carousel-txt" class="carousel">
              <h3>Sarah</h3>
              <h3>Michelle</h3>
              <h3>Melody</h3>
              <h3>Stephanie</h3>
              <h3>Kathy</h3>
              <h3>Noor</h3>
            </div>
            <div id="overlay"></div>
            <a href="#" id="prev">&lsaquo;</a>
            <a href="#" id="next">&rsaquo;</a>
          </div>
        </div>


    </div>

      <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
          <a href="#Home" class="back-to-top">Back to Top</a>
        </div>
      </div>

</div>



    <div class="contact-form-container" id="contactUs" ng-controller="indexController">
      <div class="container">

        <h1 id="ContactForm-heading"><font class="green">Contact</font> <font class="black">Us</font></h1>

        <h4 id="ContactForm-caption">We would love to hear from you.</h4>

        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
        <form class="form-group" id="ContactForm">

          <div class="details">
            <label id="username-label">Username*</label>
            <input type="text" id="username-input" class="form-control" placeholder="Enter your name" required ng-model="contactDetails.username" />
          </div>
          <div class="details">
            <label id="email-label">Email*</label>
            <input type="email" id="email-input" class="form-control" placeholder="Enter your email" required ng-model="contactDetails.email" />
          </div>
          <div class="details">
            <label id="zip-label">City*</label>
            <input type="text" id="zip-input" class="form-control" placeholder="Enter your City" required ng-model="contactDetails.city" />
          </div>
          <div class="details">
            <label id="message-label">Message*</label>
            <input type="text" id="message-input" class="form-control" placeholder="Enter your message here" required ng-model="contactDetails.message" />
          </div>
          <button class="btn btn-success" id="send-button" ng-click="submitForm()">SUBMIT</button>
          <p ng-show="message === 'Message sent successfully' " class="bg-success message-status">{{message}}</p>
          <p ng-show="message === 'Could not send your message. Try again.' " class="bg-danger message-status">{{message}}</p>
        </form>

            </div>
          <div class="col-md-3"></div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
          <a href="#Home" class="back-to-top">Back to Top</a>
        </div>
      </div>

    </div>
      </main>


    <footer>
    <div class="container" id="footer">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 footer-setting center">

          <a href="" class="footer-options">Terms & Conditions</a>
          <a href="/faq" class="footer-options">FAQs</a>

          <a href="" class="footer-options">Privacy Policy</a>

          <p class="footer-copyright">© 2015 SugarMommas</p>
        </div>
        <div class="col-md-2"></div>
      </div>
      </div>
      </footer>





    <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2JtOvQi-mR0Xu9PSlDK44bXKyCrRTVFA&libraries=places&sensor=false"></script>-->

   <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9GLrorUY8X7RNG4rGH6_q5LbdNifsWUw&libraries=places&callback=initAutocomplete"
            async defer></script>-->

    <!--<script src="../javascripts/autocomplete.js"></script>-->
    <script src="../javascripts/hide_navbar.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/bootstrap.min.js"></script>



    <script type="text/javascript">
      var text = ["CONNECT", "LEARN", "SHARE"];
      var counter = 0;
      var elem = document.getElementById("changeText");
      setInterval(change, 2000);
      function change() {
        elem.innerHTML = text[counter];
        counter++;
        if(counter >= text.length) { counter = 0; }
      }
    </script>

    <script src="http://code.jquery.com/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="../javascripts/jquery.carouFredSel-6.1.0-packed.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(function() {
        $('#carousel-zw').carouFredSel({
          auto: false,
          items: {
            visible: 1,
            start: 1
          }
        });
        $('#carousel-txt').carouFredSel({
          auto: false,
          items: 1,
          scroll: {
            fx: 'fade',
            duration: 1000
          }
        });
        $('#carousel-fc').carouFredSel({
          synchronise: [ ['#carousel-zw'], ['#carousel-txt', false] ],
          items: 1,
          scroll: {
            duration: 1000,
            timeoutDuration: 3000
          },
          prev: '#prev',
          next: '#next'
        });
      });
    </script>



    <script>
      // This example adds a search box to a map, using the Google Place Autocomplete
      // feature. People can enter geographical searches. The search box will return a
      // pick list containing a mix of places and predicted search terms.

      function initAutocomplete() {
        // Create the search box and link it to the UI element.
        var input = document.getElementById('address');
        var searchBox = new google.maps.places.SearchBox(input);
        searchBox.addListener('places_changed',function(){
          var resultsArray = searchBox.getPlaces();
          var loc = resultsArray[0].geometry.location;
          var lat = resultsArray[0].geometry.location.lat();
          var lng = resultsArray[0].geometry.location.lng();
          var locObject = {lat:lat , lng:lng};
          console.log(locObject);
          localStorage.setItem('userEntry',JSON.stringify(locObject) );
          gonext();
          parent.location = '/mapDisplay.ejs';
        });

      }
    function gonext(){

    }

    </script>
    <script>$("div.navbar-fixed-top").autoHidingNavbar();</script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9GLrorUY8X7RNG4rGH6_q5LbdNifsWUw&libraries=places&callback=initAutocomplete"
            async defer></script>





  </body>

</html>
