<!DOCTYPE html>
<html ng-app="userProfile">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SugarMomma</title>
    <link rel='stylesheet' href='../stylesheets/posts.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://angular-file-upload.appspot.com/js/ng-file-upload.js"></script>
    <script type="text/javascript" src="../javascripts/controller.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
</head>

<body data-spy="scroll" data-target=".navbar-collapse" ng-controller="PostController as userpost">

<header class="nav-down">
    <div class="navbar transparent navbar-static-top">

        <div class="container">

            <div class="navbar-header">
                <a href="/" class="navbar-brand" id="title">Sugar Mommas</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>


            <div class="collapse navbar-collapse" id="menu">

                <ul class="nav navbar-nav navbar-right">
                    <li class="active navbar-right menu-list"><a href="/" class="blue">LOG OUT</a></li>
                </ul>

                <p class="navbar-text navbar-right">Welcome {{user.name}}!</p>
            </div>


        </div>
    </div>
</header>



<div class="container" id="posts-container">
    <div class="row">
        <div class="col-md-3">
            <div class="panel" id="my-profile-panel">
                <h4 class="center">View/Edit profile</h4>
               <img ng-src="../images/profilePic/{{user.dp_src}}" id="profile-pic" alt="" width="250" height="250" class="img-thumbnail" />

                <!--<input type="file" id="upload-button" class="transparent">-->
                <button type="file" ngf-select="uploadFiles($file, $invalidFiles)"
                        accept="image/*" ngf-max-height="" ngf-max-size="1MB" name="file">
                    Select File</button>

                <div >{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}

                </div>
                {{errorMsg}}

                <form class="form-group profile-form">

                    <div class="form-group">
                        <!--<label for="username">Name</label>
                        <input type="text" class="form-control profile-info" id="username" value="Brooke" readonly />
                        <label for="exampleInputEmail8">Birthday</label>
                        <input type="date" class="form-control" id="exampleInputEmail8" placeholder="" value="03/03/1989" readonly>
                        <label for="username">Email</label>
                        <input type="email" class="form-control profile-info" id="email" value="brooke@gmail.com" readonly />
                        <a href="#myModal" data-toggle="modal" data-target="#myModal" id="story-link">My story</a>
                        <br />

                        <button class="btn btn-warning form-control" id="edit-info-button" onclick="showSave()">Edit</button>
                        <button class="btn btn-warning form-control" id="save-info-button">Save</button>-->



                        <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">


                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">My Story</h4>
                                    </div>
                                    <div class="modal-body">
                                        <input type="text" placeholder="Write your story here" class="form-control center" id="my-story" />
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success" data-dismiss="modal">Save</button>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </form>

            </div>

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-info">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Change Password
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <form class="form-group">
                            <input class="form-control" placeholder="Enter current password" id="confirmPassword" type="password" ng-model="pass.oldPassword" />
                            <input class="form-control" placeholder="Enter new password" id="newPassword" type="password" ng-model="pass.newPassword"/>
                            <button class="btn btn-info" id="change_password_button" ng-click="changePassword()">Save</button>
                            <br />
                            <span class="alert alert-danger form-control" ng-show="invalidPassword === true">Invalid old password.Retry.</span>
                            <span class="alert alert-success form-control" ng-show="passwordSaved === true">New password saved</span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">

            <div class="panel panel-primary" id="my-status-panel">
                <div class="panel-heading">

                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"> Status</span>

                </div>
                <div class="panel-body">
                    <textarea class="form-control" id="my-status" placeholder="What's on your mind?" ng-model="postmessage.msg"></textarea>

                    <div class="my-status-buttons">
                        <span class="glyphicon glyphicon-picture btn-lg" aria-hidden="true" id="camera-button" data-toggle="tooltip" title="Add Photos to your post."></span>


                        <button class="btn btn-primary white form-control" id="post-button" ng-click="postMessage()">Post</button>
                    </div>
                </div>
            </div>

            <div class="posts-panel" ng-repeat="post in posts">

                <div class="panel panel-info other-post">
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-left">

                                    <img class="media-object " src="../images/profilePic/{{post.dp_src}}" width="50px" height="50px">

                            </div>
                            <div class="media-body">
                                <br />
                                <a href="#profile-modal" data-toggle="modal" data-target="#profile-modal" ng-click="getUserProfile(post._id)"><h4 class="media-heading text">{{post.author}}</h4></a>



                                <div id="profile-modal" class="modal fade" role="dialog">
                                    <div class="modal-dialog">


                                        <div class="modal-content">

                                            <div class="modal-body">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <div class="media">
                                                    <div class="media-left">
                                                        <a href="#">
                                                            <img class="media-object " src="../images/profilePic/{{post.dp_src}}" width="200px" height="200px">
                                                        </a>
                                                    </div>
                                                    <div class="media-body">
                                                        <h3 class="text">{{userProfile.name}}</h3>
                                                        <h5 class="text">Status: {{userProfile.iama}}</h5>

                                                        <h5 class="text">Lives In: {{userProfile.location}}</h5>
                                                        <h5 class="text">Email:{{userProfile.email}}</h5>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>



                                <p class="text">{{post.time}}</p>
                            </div>
                        </div>
                        <p id="post-message" class="text">{{post.message}}</p>
                        <hr />
                        <div class="buttons-div">

                            <a href="" class="post-buttons" ng-click="update(post._id)">Like</a>
                            <a href ="#post-message" class="post-buttons">Comment</a>
                            <span class="glyphicon glyphicon-thumbs-up post-buttons" aria-hidden="true" id="like-button">{{post.likes}}</span>



                            <span class="glyphicon glyphicon-comment" aria-hidden="true" id="comment-button">{{post.comments_details.length}}</span>
                            <a href="" class="right">Report</a>
                        </div>
                    </div>
                    <div class="panel-footer panel-info" >

                        <div class="" id="other-comments" ng-repeat="comment in post.comments_details" >
                            <div class="media other-comments" id="">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object " src="../images/profilePic/{{comment.comment_author_dp}}" width="35px" height="35px">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <p id="comment" class="text">{{comment.comment_message}}</p>
                                </div>
                            </div>
                            <br />
                        </div>

                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object " src="../images/profilePic/{{post.dp_src}}" width="35px" height="35px">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="input-group">
                                    <input type="text" placeholder="Write your comment" class="form-control" id="my-comment" ng-model="comment.comment_message" aria-describedby="basic-addon1" />

                                    <span class="input-group-addon glyphicon glyphicon-send" id="basic-addon1" ng-click="submitComment(post._id,comment)"></span>

                                </div>

                            </div>
                        </div>
                        <hr class="divider" />

                        <!--<a href="" data-toggle="collapse" data-target=".other-comments">View other comments</a>-->



                    </div>

                </div>

            </div>
        </div>


        <div class="col-md-3">

            <div class="panel" id="group-users-panel">
                <div class="panel-heading">
                    <h4 class="text">People you may know</h4>

                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object " src="../images/Brooke_story.JPG" width="75px" height="75px">
                            </a>
                        </div>
                        <div class="media-body">
                            <h5 class="text">Brooke</h5>
                        </div>
                    </div>

                    <!--<div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object " src="../images/vj.png" width="75px" height="75px">
                            </a>
                        </div>
                        <div class="media-body">
                            <h5 class="text">Vijay</h5>
                        </div>
                    </div>-->
                    <hr />
                        &nbsp<a href="/usersList">See all</a>



                </div>
            </div>

            <div class="panel panel-success" id="award-panel">
                <div class="panel-heading">
                    <h4 class="text center">Sugar Momma of the Month</h4>
                </div>
                <img src="../images/crown.jpeg" width="100px" height="100px" id="crown-img" />
                <div >


                    <a href="" data-toggle="collapse" data-target="#sugar-momma-award-img" ><h3 class="center text" id="award-winner-name">Brooke</h3></a>

                    <img class="collapse" src="../images/Brooke2.JPG" width="250px" height="250px" id="sugar-momma-award-img"/>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container" id="footer">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 footer-setting center">

                <p class="footer-copyright white">© 2015 SugarMommas</p>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</footer>


<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<!--<script>
    document.getElementById("comment").innerHTML="hellloooooo";
    document.getElementById("username").contentEditable = false;
</script>-->
</body>

</html>