<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href='/stylesheets/story_style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Josefin Slab">
    <link href='https://fonts.googleapis.com/css?family=Henny+Penny' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">

    <div class="container">

        <div class="">
            <h1 class="navbar-center center white">Sugar  Momma's  Stories</h1>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div>
</div>

    <div class="container" id="stories-container">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel panel-success">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object " src="../images/Brooke_story.jpg" width="100px" height="100px">
                            </a>
                        </div>
                        <div class="media-body">
                            <br />
                            <h3 class="text">BROOKE</h3>
                            <br />
                            <h5 class="text" id="story">
                                My name is Brooke Gibson and I have been living with Type 1 Diabetes for the past 30 years. I was diagnosed at the age of 6 after my mom recognized familiar symptoms that she had heard about. She had heard about them from my Father. You see, my Father and Paternal Grandfather both have lived with Type 1 Diabetes. Though I was Juvenile onset, they were both Adult onset. My grandfather passed before I was born, due to non diabetes related complications, but my father is still living with T1D. He takes the old school approach of testing and injections only. Therefore I can't say that I've learned about my diabetes care over the years from him. I am currently on an Animas Pump, the Ping, which I have been for 15 years and a Dexcom CGM.
                                <br /><br />
                                Growing up I started on injections though. I remember giving my Cabbage Patch Kid shots to practice. I became pretty independent early on with my diabetes care because my mom told me that if I wanted to spend the night at a friends house I had to do it, so I did! I was a competitive ice skater for 13 years too and this really helped me to have good blood sugar control. When I was younger, I never thought during these times of friends and sports much about my future and having children, or maybe that's because I was always told that it would be very hard for a T1D to have children, and maybe I wouldn't at all...? I really didn't know what my future held. But then in 2007 I met a wonderful man named Kevin, who became my husband in 2008. My first thought after we got married was Hey, I'm diabetic, if we want kids we need to get on it! We tried for a year to no avail. Mid way through this year though I also found out I was dealing with Endometriosis and had to have it removed from my ovaries. 5 months later we conceived naturally! A beautiful girl. Pregnancy was not easy as a person living with T1D though. I really look at it as another full time job! And I didn't really have any support except for 1 really cool friend who I found on an overseas website and we realized we lived close together and we immediately connected! It was amazing to have someone else who understood what I was going through! It was an amazing bond.
                                <br /><br />
                                We sadly miscarried our second pregnancy and went through many challenges to get pregnant with our next child. I heard many times "Oh, it's because you're a diabetic and you're eggs probably aren't good." Well let me tell you I proved them wrong! Most likely it was the endometriosis that gave me difficulties in getting pregnant and when they removed it they took a lot of good ovarian tissue and eggs with it! After failed rounds of fertility treatments including Clomid and IVF,  we at last conceived our next beautiful baby girl (via IUI since I didn't have a lot of eggs left). Once we became pregnant again and I started going through the process of dealing with blood sugar control and pregnancy again, I thought to myself that I needed more support going through pregnancy with Type 1 Diabetes and I'm sure that others do too! And in October 2012 with support from the JDRF I founded the 'Type 1 Diabetic Sugar Mommas'! It has been an amazing group of women to talk to, ask questions and for those of us who live near one another, a great support to get together in person! Amazing people and friendships have come together. T1D's need a place to connect, feel comfortable and to ask questions during this unique time in their lives. I have been so proud to watch the group grow and I hope that it continues to grow around the world. Even if you just meet 1 new person, have 1 new connection in your life who understands the trials and tribulations of pregnancy and T1D, I think it will be amazing for everyone!
                                <br /><br />
                                We now have 3 beautiful children and Sugar Mommas has been an amazing support of knowledge and friendships for me!

                            </h5>
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="panel panel-success">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object " src="../images/Michelle_story.jpg" width="100px" height="100px">
                            </a>
                        </div>
                        <div class="media-body">
                            <br />
                            <h3 class="text">MICHELLE</h3>
                            <br />
                            <h5 class="text">
                                I was diagnosed with Type 1 Diabetes on May 1st, 2012 at the age of 28. Following some pretty traumatic events, a T1D diagnosis was pretty much the worst icing on the worst cake of a year you can imagine.
                                <br /><br />
                                Faced with the option of wallowing in my diagnosis or jumping in with both feet, I chose the later (although I spent plenty of time doing the former first).  I sought out community through local bay area T1D programs (CarbDM, JDRF) and got engaged. Connecting to others with T1D has been the “best” part of my diagnosis. I don’t know if it's the nature of the disease, the rigor and tenacity it takes to live well with it, but all those I’ve met with T1D have been the most incredible people. They don’t use their disease as crutch but rather motivation to live their best possible life, and they inspired me to do the same. Part of my best possible life was having a child, and that’s how I found my way to Brooke and the Sugar Mommas.
                                <br /><br />
                                In 2013, just a few days following my 1st dia-versary I found out I was pregnant. I was beginning my second trimester when I tracked down Brooke via the Sugar Mommas Facebook page I had remembered seeing randomly months earlier. This group and these ladies were exactly what I needed. From the start I felt welcomed, the knowledge-sharing and diabetes hacks are always being traded and the support on the hard days is always there.  This is a group of ladies that just “get it” and that exactly what I needed as a T1D, and especially as a pregnant T1D.
                                <br /><br />
                                In early January 2016, after three and a half days of labor, I gave birth to my beautiful son, Silas. I had no complications, diabetic-related or otherwise. I kept my A1C’s in the high 4’s and low 5’s the entire pregnancy (and I still ate ice cream!). I knew my rights and worked closely with my care team to be as in control of my birth experience as possible. My husband and I managed my pump during labor. I gave what felt like a Masters course to the nurses on-call on all aspects of T1D care (pumps, CGMs- you name it). My son was born a normal birth weight with normal blood sugars. I had a healthy, happy pregnancy - despite diabetes.
                                <br /><br />
                                And I had the Sugar Mommas in my corner the whole way.
                            </h5>
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="panel panel-success">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object " src="../images/Melody_story.jpg" width="100px" height="100px">
                            </a>
                        </div>
                        <div class="media-body">
                            <br />
                            <h3 class="text">MELODY</h3>
                            <br />
                            <h5 class="text">
                                I was diagnosed with T1 diabetes 19 years ago & I've been on an insulin pump for 17 years.  I've been told that I'm a "brittle" diabetic because I'm so sensitive to the slightest change.  I'm too passionate & emotional of a person which causes a roller coaster ride of fluctuations in my blood sugars all the time.  I can walk down by the beach for just 5 minutes and my sugars will drastically drop or I can be folding clothes while listening to my playlist and my sugars will also drop within a couple of minutes.  Those are the times I'm most relaxed.  But, if I'm playing with my son and we're both all riled up, even if I haven't eaten anything and drank nothing but water, my sugars will rise above 180.  Stress, anxiety, sadness, excitement, pretty much any other emotion other than calm, causes my sugars to rise.  So I battle not only calculating my meals, but taking into account how much my mood will also effect me at the time.
                                <br /><br />
                                A month before I found out I was pregnant, my father (whom I was really close to) was diagnosed with stage 4 pancreatic cancer.  So, my pregnancy started out with an intense emotional ride and had no intention of slowing down from there!  I was travelling back and forth between California and Louisiana to see my dad all while I was having to stay in and out of the hospital trying to keep my chronic hypertension in check in hopes to slow down the on-set of preeclampsia.  My husband was very supportive, but I felt so bad because he barely got to experience my pregnancy with me as I probably spent only about 45% of my time with him.  I was happy to be able to tell my dad that he was going to have his first grandson, but a month after that, my dad passed away.  Then, 2 months after that, my sister moved to Seattle.  I was to go through the rest of my pregnancy alone.  One of my dearest friends lived an hour away and none of my other friends who lived closer have gone through any pregnancies yet.  Plus, none of them were diabetic.
                                <br /><br />
                                Even 4 years after having my son, I'm struggling emotionally.  On top of that, I'm also still recovering internally.  His birth was such a bittersweet moment for me.  However, I wouldn't change any of it for anything in the world.  I feel like when my dad left this world, he helped me bring in a healthy beautiful boy, despite all the complications I was running into during the pregnancy.  The funny thing is that my son has the same humor, heart, & compassion as my dad did.  It's the most endearing thing to see!  Anyway, about 2 years after my son was born, I came across a flyer for the Sugar Mommas group!  When I met Brooke, she was so sweet and outgoing, I felt like we had known each other for years.  Meeting the other mothers was a pleasant surprise too!  It really makes a difference when you can relate to others and they can relate to you.  I love how quickly Sugar Mommas is growing.  The support we all have for & give to each other is remarkable.  I'm so thankful to have had the opportunity to meet all of these fantastic women!


                            </h5>
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="panel panel-success">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object " src="../images/Kathy_story.jpg" width="100px" height="100px">
                            </a>
                        </div>
                        <div class="media-body">
                            <br />
                            <h3 class="text">KATHY</h3>
                            <br />
                            <h5 class="text">
                                I was diagnosed with type 1 diabetes at the age of 22. Though i had a relative with the disease, I didn’t really understand it until it happened to me. Plus I thought I was long past the risk for type 1 being in my 20’s. Doesn’t it always start in childhood? I found out quickly that wasn’t the case. It was a diagnosis I didn’t see coming. I felt fine. I just happened to go to a health fair at work where they check your weight, blood pressure, cholesterol, and blood glucose. As the nurse was reviewing my results with me he said I was super healthy until he got to the last number on the sheet. “I take back what I said” he went on. My BG was 199. “Go to the doctor today or tomorrow." Over the next year I got the hang of counting carbs, taking shots, switching to an insulin pump, and explaining to many strangers what that thing on my arm was. What I didn’t get the hang of so quickly was the ups and downs of my blood glucose and the guilt that followed on a regular basis.
                                <br /><br />
                                When I wanted to get pregnant 5 years later I realized that those ups and downs and the guilt I had experienced before were nothing compared to what would come. The doctors didn’t want me to even try getting pregnant until I had better control. Silly me, I thought I was doing pretty well. But I had to do better. And I had to do it while feeling like I didn’t have a strong community to help me with the process. Sure, I had my very supportive husband and a team of doctors that wanted to help. But they just didn’t really know how hard it was to keep tight control with my BG as well as my emotions because it wasn’t them. It wasn't their bodies. It wasn't their fault when my BG was 300. It was mine. During my first pregnancy those thoughts weighed heavily on my mind. How was this affecting my baby? And I didn’t know the right questions to ask my doctors to get me in a better BG range. I was doing okay, but clearly there was room for improvement. My A1c hovered around 6.2. It doesn’t sound so bad but I knew that accounted for the many highs and the many lows that just averaged out to a decent A1c. Luckily I still ended up with a healthy and happy daughter though she was born 5 weeks early and already 8lb. She did have low blood sugar immediately after birth and required a 4 day stay in the NICU. But once we got her home she thrived like any other healthy baby. Still, the fact that she was early made me wonder if it was my fault. And because she was so big it made me promise to myself that I’d be better with my BG control next time.
                                <br /><br />
                                A year later I was back in that pre-pregnancy battle with the doctors. I needed better control before trying for #2. This time they pointed me towards the Sugar Mommas group for additional support. I have to admit I was skeptical. I don’t often join groups for support and I thought I knew pretty much all there was to know about managing the disease at this point. How naive. I was completely wrong. At first I was just a spectator. I monitored the Facebook group as people asked questions. I was quickly sucked in reading the questions people asked and more importantly the huge number of responses each question received. These were questions I had never thought to ask but was very interested in hearing everyone’s experience. The ladies had such a wide range of tips and personal stories. Soon I was able to come up with my own questions that I realized I had always wondered about. And the group was so supportive. No question is a dumb question. Everyone wants to share what they know, support each other, and give a pat on the back when someone needs it most. Plus it was wonderful getting to know everyone when meeting up in person.
                                <br /><br />
                                I’m almost done with my 2nd pregnancy now. My BG control has been better than I’ve ever had it since I was diagnosed 8 years ago. My A1c has been 5.7 but this time I know that doesn’t include so many highs and lows that average out in the middle. It’s from tight control staying within the recommended BG range under 135 (most of the time). I can’t help but credit some of that to the Sugar Mommas group. I’ve gained so many little tips that I use daily. And knowing there are so many other ladies in the bay area who are in the same boat has been therapeutic and uplifting.
                            </h5>
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="panel panel-success">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object " src="../images/Sarah_story.jpg" width="100px" height="100px">
                            </a>
                        </div>
                        <div class="media-body">
                            <br />
                            <h3 class="text">SARAH</h3>
                            <br />
                            <h5 class="text">
                                I'm Sarah, wife to Johnny and mother to Maximus, currently 20 months old! I refer to myself as a part time stay at home mom and a part time speech therapist. I worked in school settings for 5 years and now work on-call for a local hospital doing medically based speech therapy. My husband and I love to stay active, regularly weight lifting, running, and hiking.
                                <br /><br />
                                I was diagnosed with type 1 diabetes my freshman year of high school at age 14. I was on multiple daily injections for about 8 years, then had a medtronic insulin pump, and currently use Omnipod. I've taken "breaks" from my pumps over the years to both "unplug" as well as keep up my ability to adjust to shots. I love my Dexcom CGM and could not have imagined pregnancy with out it.
                                <br /><br />
                                Pregnancy was by far my greatest challenge with type 1 diabetes yet, and totally worth it. I felt very overwhelmed going into the process. I found an amazing and supportive Endocrinologist, read  Balancing Pregnancy with Pre-existing Diabetes by Cheryl Alkon back to back, and took micro-managing diabetes up a notch.  I had my healthy baby boy February 2014.
                                <br /><br />
                                One highlight of my pregnancy was taking our Childbirth Class and finding out that we were sitting right next to another mommy-to-be with type 1 diabetes. The instructor said she'd never had one type 1 in the class let alone two! They were a great couple to relate with and swap stories. This year she connected me with the Sugar Mommas group on Facebook. It's been a great way to ask questions and share information! More than anything it's been wonderful to see the strong supportive network that is there for type 1 mothers and mothers to be!
                            </h5>

                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="panel panel-success">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object " src="../images/Stephanie_story.jpg" width="100px" height="100px">
                            </a>
                        </div>
                        <div class="media-body">
                            <br />
                            <h3 class="text">STEPHANIE</h3>
                            <br />
                            <h5 class="text">
                                I was diagnosed at the age of 6.  My sister, who was 3, had been diagnosed a few months before and my parents noticed the all too familiar symptoms in me, tested my blood and there it was.  From the start, I was always an "I can do it" kind of person and no one has ever tested my blood or given me a shot but me.  From the day I was diagnosed, I just figured, I would rather be in control of this myself.  I grew up going to JDRF Camp in Southern California and looked forward to summer so much that I started packing months before.  When I was in college, I became a camp counselor.  It wasn't until college (I went to Cal and that is what brought me to the bay area) that I was told that I could start to think about having children.  Growing up, I was always cautioned and told that it would be better and easier on my body, my children, and family if I thought about adoption. I was told it was too risky.  When I sat in the health office at the school and heard something different, I began to think about my future with new excitement, "I can have kids! Will I be able to get pregnant?  Have I messed it up and not taken good enough care of myself?"  It didn't really mean much at that point, I hadn't met my husband yet, so I had time.
                                <br /><br />
                                Eventually, I graduated and became a High School English and Yearbook Teacher.  I love it and 13 years later, it really does feel like I wake up every day getting to do what I love and then I get to come home to those I love even more.  When I met my husband, Neal, we knew that this was it.  Somehow me wearing an insulin pump (which I started before I went to college in 1998) wasn't a big deal and he just wanted to be able to love and support me.  It made a huge difference that he saw it as a strength and not a setback and I think that is how my parents raised me to see it, too.  We knew we wanted to have kids right away after marriage and we were lucky enough that  happened.  We were married in June of 2009 and our first daughter was born in July of 2010.  Our second daughter was born in August of 2011 and I am currently pregnant with our third child (we don't know what we are having, yet).
                                <br /><br />
                                My pregnancy experience was certainly a journey, but it didn't scare me off of doing it again.  The first time, I remember feeling so nervous that I was doing everything right. I wanted to remain calm, but inside would worry about each and every number on the meter.  I stressed about the amount of carbs I was eating and really wanted to make sure I was doing everything right.  During that pregnancy, I went undiagnosed with Cholestasis.  This means that my liver was releasing bile into my system.  I had itchy palms and soles of my feet and it was unbearable as there was no relief.  Being a first time mom, I just kept telling the nurses at each of my Non Stress Test appointments and they talked to me about being uncomfortable in my third trimester.  I can't believe it went undiagnosed.  I was given a choice of date for induction between 37.5 and 38.5 weeks and chose 37.5 because I was so uncomfortable.  My labor was lengthy with induction, over 45 hours and I went into it thinking I wanted to not use any meds.  So basically two days later, I would not dilate beyond 7.  At that point my husband looked at me and said, "You need to get an epidural.  You are too tired now." It was a good thing he did because I ended up getting an emergency c-section since my daughter had turned over and was sunny side up.  With all of this, we had a happy and healthy girl and she was and is a wonderful and spunky child.  We went for it again, only a few months later and were lucky enough to get pregnant quickly.  With the second pregnancy, I was taking care of a baby at home and couldn't stress as much about everything. I kept my numbers in control, but I also realized that there was an end and there is only so much that I can do. I put less pressure on myself and maybe it was the confidence of being a new mom, but it just wasn't as scary.  This time, I was able to be given pills for the Cholestasis, so I was not itchy it felt like pregnancy just moved along.
                                <br /><br />
                                I love being a mom to my two girls and now my girls are looking forward to being big sisters.  My girls are now 5 and 4 and we live in San Jose, California.  My girls are the best doctors. They love helping me test my blood and know by the sounds of my meter if my blood sugar is low.  They help get me juice or give me kisses to help me get better.  It is wonderful to have the support.  Some days are harder than others and balancing teaching full time and life can be challenging, but for me, I wouldn't have it any other way.  I feel lucky that I have a supportive family and can manage myself, my career and my family.  Being a part of the Sugar Mommas has allowed me to have a network of support with others who get it.  It is wonderful to have others to ask questions about devices, experiences, food and more versus someone who is reading the device manual and trying to tell me how to use it.  I trust my Type I friends.  They live it every day.  If anything, it is just nice to hang out with other moms and have this connection.  It kind of feels like my grown up version of summer camp and since I always wanted to own a Diabetic Summer Camp, right now, this is the next best thing

                            </h5>

                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="panel panel-success">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object " src="../images/Noor_story.jpg" width="100px" height="100px">
                            </a>
                        </div>
                        <div class="media-body">
                            <br />
                            <h3 class="text">NOOR</h3>
                            <br />
                            <h5 class="text">
                                For as long as I remember I have always wanted kids, I just never knew how

                                that would tie in with my diabetes. I was diagnosed 21 years ago at the age of

                                5. Doctors weren’t very confident with the idea of a healthy pregnancy with

                                T1D, but never for a second did that make think I wouldn’t be able to pull it

                                off. The closer I got to the planning phase the more educated on the subject I

                                became which made me even more nervous. It was one of those moments I

                                wondered if “ignorance is bliss”. All the statistics, probabilities, ifs, buts and

                                maybes drove me crazy. With the support and encouragement of my husband I

                                knew with him by my side I am willing to give it a go. I polished up my carb

                                counting skills, tweaked my doses and got everything in order for my

                                preconception appointment. The grueling experience of sitting and listening

                                to a doctor giving you every possible scenario that could go wrong was not

                                what I wanted to hear and that threw me back, but kept reminding myself to

                                keep my eyes on the prize. I have PCOS (Poly Cystic Ovarian Syndrome) and

                                knew it would be a challenge getting pregnant. After trying naturally for 2

                                years and that not working, I opted for oral hormone course and that didn’t

                                work either. The final resort was IVF, at that point my A1c was 6.9 and the

                                fertility doctor refused to proceed until I was below 6.8. He unfortunately

                                wasn’t well educated and informed with the ins and outs of Type 1. He would

                                give me the typical responses, as a T1D working my butt off, I didn’t deserve to

                                hear.  I tried everything I could but nothing worked especially with all the

                                hormones in my body it was making it a challenge. I got my endo and high-risk

                                OB involved giving me the green light to proceed and they did (my endo was

                                actually worried about going lower because my blood sugar levels were

                                always low). Even with the go ahead, the fertility specialist made me sign a

                                paper saying if I end up pregnant with more than one baby I would have to

                                reduce to a single baby. He thought as a T1D mom it would be too risky for the

                                babies and me. Luckily my high-risk OB had very different views and knew

                                multiples pregnancy was doable with T1D. I’m glad he did because few weeks

                                later I found out I was having twins! My first initial reaction was a euphoric

                                feeling of joy and that quickly was overshadowed by worry, fear and self-

                                doubt.
                                <br /><br />

                                As I was going through the IVF process, a week before the pregnancy test was

                                due, I walked into the bathroom at Stanford Mall and saw a lady with a pump

                                (I can always spot a pump tubing hanging out!) and a baby and knew I had to

                                talk to her. The lady I met was Brooke, the founder of Sugar Mommas, we

                                instantly became friends and she introduced me to the group and all the lovely

                                ladies. My husband and I attended our first meeting when I was 6 weeks

                                pregnant!<br /><br />

                                The first two months were terrifying; every time my blood sugar went above

                                130 I would visualize angry sugar molecules attacking my babies. I would start

                                doing jumping jacks and pacing in circles trying to bring it back down. I was

                                very comfortable being low and if my blood sugar levels were in range I

                                wouldn’t eat because “I didn’t want to rock the boat”.  After multiple

                                conversations with my doctor, nurses and most importantly sugar mommas

                                who have been through this I realized a few highs here and there are not the

                                end of the world. They taught me to adopt a “correct and carry on” mentality;

                                the stress will only make it worse. From them I learnt the day-to-day details

                                that make a huge difference in quality of life that the Doctors don’t teach you.

                                The fact that they went through it, and had healthy kids to prove it gave them

                                more credibility in my eyes than any doctor or nurse had. Just knowing that

                                they “get it” gave me a shoulder to lean on. Especially during moments when I

                                would go to a doctor’s visit and was lectured about my numbers (keep in mind

                                my A1c was 4.1) or would hear things like “because of your diabetes…”.

                                Nothing makes you doubt yourself like hearing that; it made me feel like I was

                                irresponsible to have gotten pregnant and possibly putting my baby at risk

                                because of my disease. It felt like it was my fault and having a community and

                                support system diminished these feelings.<br /><br />

                                The more the pregnancy progressed the more my insulin needs increased at

                                around 29 weeks I felt like I was working extra hard to keep my numbers

                                within range and something felt off. I contacted my regular endo (I saw a high

                                risk OB who doubled as my endo during pregnancy) for a second opinion and

                                she agreed that my doses were set wrong; my basal rate was low and carb

                                ratio was high which made it a struggle to keep my numbers down. After

                                switching them around everything was smooth sailing again, although at the

                                end of my pregnancy my carb ration was back up to 1:1. The lesson learnt here

                                was always trust your instinct, nobody knows your body like you, and it’s

                                never too late to switch doctors.<br /><br />

                                At 36 weeks I was admitted into the hospital for preeclampsia and opted to be

                                induced at 37 weeks. I was in labor for 3 days, I didn’t eat anything except for

                                motts fruit snacks when I went low. I hovered in the 90s all 3 days, besides the

                                few lows. At the end of my 1st day I asked them to put an insulin and glucose

                                IV instead of my pump; I felt insulin would work faster since its in the

                                bloodstream. On the 3rd day we welcomed 2 beautiful and healthy baby boys.

                                Rakan weighed 6.6 pounds, BG 89 (mine was 98 when he came out) and

                                Kareem came out 47 mins later weighing 5.5 pounds, BG 76. That was when

                                the worrying officially stopped, that was the moment that I stopped doubting

                                myself and the moment I thanked God I walked into that Stanford bathroom

                                that day. They were worth it all and I would do it all over again in a heartbeat.

                                Oh and lastly I don’t think I would have attempted pregnancy without my

                                dexcom!
                            </h5>

                        </div>
                    </div>
                </div>
            </div>

            <br />

        </div>
        <div class="col-md-1"></div>
    </div>

<footer>
    <div class="container" id="footer">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 footer-setting center">

                <p class="footer-copyright white">© 2015 SugarMommas</p>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</footer>

</body>
</html>
